<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EntityFramework" version="6.2.0" targetFramework="net462" />
  <package id="Google.Protobuf" version="3.5.1" targetFramework="net462" />
  <package id="MediatR" version="6.0.0" targetFramework="net462" />
  <package id="MySql.Data" version="6.10.8" targetFramework="net462" />
  <package id="MySql.Data.Entity" version="6.10.8" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess" version="18.3.0" targetFramework="net462" />
  <package id="Oracle.ManagedDataAccess.EntityFramework" version="18.3.0" targetFramework="net462" />
  <package id="System.Configuration.ConfigurationManager" version="4.4.1" targetFramework="net462" />
  <package id="System.Reflection.Emit" version="4.3.0" targetFramework="net462" />
  <package id="Unity" version="5.8.13" targetFramework="net462" />
</packages>